{
    "map": { "basic": "basic", "entities": "entities" },
    "filename": "example/map.example.text"
}
---
basic:
{{#each basic}}
- {{name}}
{{/each}}

entities:
{{#each entities}}
- {{name}}
{{/each}}